<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head') %>
</head>
<body>
    <%- include('partials/_header') %>
  
    <div class="container gallery-container">
        <h1>PHOTOS</h1>
        <p class="page-description text-center">Add me photos!</p>  
        <div class="tz-gallery">
            <select id="selectOrderBy" class="form-select mb-3" aria-label="Default select example" onchange="changeAction(this.value)">
                <option selected>Order by</option>
                <option value="title">Title</option>
                <option value="date">Date</option>
              </select>
              <p id="noPhotosMsg" class="page-description text-center" <% if(!allphotos.length == 0){ %> hidden <% }  %> >No photos to show</p> 
            <div class="row">
                <% allphotos.forEach(function(photo) { %>
                    <div class="col-sm-6 col-md-3">
                        <div class="card thumbnail">
                            <a href="/delete/<%= photo.id %>"><img class="btn-Delete" src="/images/icons/delete-button.ico" width="25" ></a>
                            <img class="btn-Edit"  src="/images/icons/edit-button.ico" width="30" data-toggle="collapse" data-target="#editForm<%= photo.id %>" aria-expanded="false" aria-controls="editForm<%= photo.id %>">
                            <img
                                src="<%= photo.image %>"
                                class="card-img-top"
                                alt="<%= photo.title%> image"
                            />
                            <div class="card-body">
                                <h5 class="card-title"> <%= photo.title.toUpperCase() %> </h5>
                                <p class="card-text">
                                    Date: <%= photo.date %>
                                </p>
                                <p class="rgb-palette p-3" style="background-color: rgb(<%= photo.palette %>)">
                                    RGB(<%= photo.palette %>)
                                </p>
                                <div class="tagContainer">
                                    <% photo.tags && photo.tags.forEach(tag=>{ %> 
                                        <div class="tag" style="background-color: <%= tag.color %> ">
                                            <%= tag.title %>
                                        </div>
                                    <% }) %> 
                                </div>

                                <!-- It begins the edit form of the card -->
                                <div id="editForm<%= photo.id %>" class="caption collapse">
                                    <form class="form-row" method="POST" action="/edit/<%= photo.id %>">
                                        <div class="row mb-3">
                                          <label for="editTitle" class="form-label">Título</label>
                                          <input type="text" name="title" class="form-control " id="editTitle<%= photo.id %>"  value="<%= photo.title %>" maxlength="10" pattern="^[A-Za-z0-9_]+$" title="Solo puede contener letras, números o guión bajo." required>
                                        </div>
                                        <div class="row mb-3">
                                          <label for="editUrl" class="form-label">URL source image</label>
                                          <input type="url" name="url" class="form-control" title="El formato debe ser válido. Ej. http://wwww.face.com/a.jpg" id="editUrl<%= photo.id %>" value="<%= photo.image %>" readonly>
                                        </div>
                                        <div class="row mb-3">
                                          <label for="editDate" class="form-label">Date</label>
                                          <input class="form-control" name="date" type="date" value="<%= photo.date %>" id="editDate<%= photo.id %>" required>
                                        </div>
                                        <div class="col-12 mt-4">
                                          <button class="btn btn-primary" type="submit">Save changes</button>
                                        </div>
                                      </form>
                                </div>    
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>



    <%-include ('partials/add-photo')%>
    <%-include ('partials/add-tag')%>
    <%- include('partials/_footer') %>



    <script>
        function changeAction(val){
            return window.location.href = "/order/?by=" + val;
        }
    </script>
</body>
</html>